div {
  margin: 0;
  padding: 0;
}

/*
 * Set up the game board in a 4x4 grid using table-row and cell CSS
 * Game board is 48x60em with each cell (property) being 12x12em
 * The right column is player info panels
 */
.game_board {
  width: 60em;
  height: 48em;
  background-color: red;
}

.row {
  background-color: lightgreen;
  width: 60em;
  height: 12em;
  display: table-row;
}

.cell {
  outline: .25em solid white;
  background-color: lightblue;
  display: table-cell;
  width: 12em;
  height: 12em;
  text-align: center;
  padding: .5em;
}

.square-name {
  font-weight: bold;
}

.middle, .info {
  background-color: white;
}

/*Tokens*/
.Triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid darkblue;
}

.Circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: darkblue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#player1-info_token {
  display: inline-block;
  margin: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid darkblue;
}

#player2-info_token {
  display: inline-block;
  margin: 0;
  width: 20px;
  height: 20px;
  background: darkblue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
